langchain==0.3.25 
langchain-community==0.3.24
langgraph==0.3.0
openai==1.64.0
streamlit==1.31.1
matplotlib==3.8.2
langchain-openai>=0.1.0
pydantic==2.10.6
networkx==3.2.1
matplotlib==3.8.2
python-dotenv==1.0.1

langchain==0.3.25 
langchain-community==0.3.24
langchain-core==0.3.60
langchain-openai>=0.3.8
langgraph==0.3.0
openai==1.64.0
streamlit==1.31.1
matplotlib==3.8.2
networkx==3.2.1
python-dotenv==1.0.1
